.banner720{
	width: 1140px;
	height: 720px;
	margin: 0 auto;
	background: url(../images/pageBanner2.jpg) no-repeat;
}
.banner720 .textTop{
	height: 124px;
	width: 1140px;
	padding-top: 125px;
	text-align: center;
}
.banner720 .textTop .big{
	font-size: 48px;
	color:  white;
	text-shadow: 1px 1px 30px #000
}
.banner720 .textTop .small{
	font-size: 24px;
	color:  white;
	margin: 15px 0 20px;
	text-shadow: 1px 1px 30px #000
}
.banner720 .search{
	width: 760px;
	height: 96px;
	position: relative;
	margin: 61px auto 0
}
.banner720 .search input{
	position: absolute;
	top: 0;
	left: 0;
	padding: 25px 100px 25px 40px;
	height: 96px;
	width: 760px;
	box-sizing: border-box;
	font-size: 34px;
	border:1px solid #323232
}
.banner720 .search input::-webkit-input-placeholder {
	color: #000;
}
.banner720 .search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#000;
}
.banner720 .search input::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#000;
}
.banner720 .search input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#000;
}
.banner720 .search a{
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 94px;
	height: 94px;
	overflow: hidden;

}
.banner720 .search a img{
	position: absolute;
}
.banner720 .contBox{
	position: relative;
	margin-top: 120px;
	height: 70px;
}
.banner720 .contBox h3{
	font-size: 24px;
	color:  white;
	position: absolute;
	height: 70px;
	line-height: 70px;
	font-weight: normal;
}
.banner720 .contBox h3:nth-child(1){
	left: 25%;
}
.banner720 .contBox h3:nth-child(2){
	left: 64.5%;
}
.contentPage2{
	width: 1140px;
	margin: 60px auto 0;
}
.contentPage2 .top{
	font-size: 30px;
	margin-bottom: 27px;
	text-align: center;
}
.contentPage2 .box .img{
	overflow: hidden;
	display: block;
}
.contentPage2 .box .img img{
	transition: .3s all;
}
.contentPage2 .box .img:hover img{
	transform: scale(1.1);
}
.contentPage2 .div1{
	margin-right: 30px
}
.contentPage2 .div1 .img{
	position: relative;
}
.contentPage2 .div1 .img .icon{
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/icon1.jpg) no-repeat;
	left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0.8;
    filter: alpha(opacity:80);
    transform:none !important;
}
.contentPage2 .div1 .txtBox .word{
	margin-top: -5px
}
.contentPage2 .txtBox{
	width: 360px;
	height: 90px;
	padding: 20px 0 0 30px;
	box-sizing: border-box;
	background: #323232;
	transition: .3s all
}
.contentPage2 .txtBox:hover{
	background: #000;
}
.contentPage2 .txtBox h2{
	font-size: 25px;
	margin-top: 9px;
	margin-right: 20px;
	color: white
}
.contentPage2 .txtBox .word{
	display: block;
	color:  white;
	width: 280px;
}
.contentPage2 .txtBox .word p{
	font-size: 18px
}
.contentPage2 .txtBox .word span{
	font-size:12px;
	color: #cccccc
}
.contentPage2 .div2{
	margin-right:30px
}
.contentPage2 .div2 .img{
	position: relative;
}
.contentPage2 .div2 .img .icon{
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/icon2.jpg) no-repeat;
	left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0.8;
    filter: alpha(opacity:80);
    transform:none !important;
}
.contentPage2 .div2 .img{
	position: relative;
}
.contentPage2 .div2 .img .d1{
	position: absolute;
	left: 25px;
	top:25px;
	width: 108px;
	height: 90px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}
.contentPage2 .div2 .img .d2{
	position: absolute;
	right: 25px;
	bottom: 25px;
	width: 108px;
	height: 90px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.contentPage2 .div2 .txtBox .word p{
	margin-top: 16px
}
.contentPage2 .div3 .collectionGroup{
	width: 360px;
}
.contentPage2 .div3 .collectionGroup a{
	display: block;
	font-size: 14px;
	color: #323232;
	padding: 14px 0 14px 0;
	text-align: center;
	border-bottom: 1px #323232 solid;
}
.contentPage2 .div3 .collectionGroup a:hover{
	text-decoration: underline;
}
.contentPage2 .div3 .collectionGroup a:nth-child(1){
	border-top: 1px #323232 solid;
}


